In [0]:
import warnings
warnings.filterwarnings('ignore')

import io
import os
import copy
import zipfile
from urllib.error import URLError
from urllib.request import urlopen

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
os.mkdir("Data")

In [9]:
#!ls sample_data
!ls

Data  sample_data

In [0]:
def try_download(url, download_path):
    archive_name = url.split('/')[-1]
    folder_name, _ = os.path.splitext(archive_name)
    
    try:
        r = urlopen(url)
    except URLError as e:
        print('Cannot download the data. Error: {0}'.format(e))
        return 

    assert r.status == 200
    data = r.read()

    with zipfile.ZipFile(io.BytesIO(data)) as arch:
        arch.extractall(download_path)
        
    print('The archive is extracted into folder: %s' % download_path)

In [0]:
def read_data(path):
    files = {}
    for filename in os.listdir(path):
        if os.path.splitext(filename)[-1] == '.csv':
            files[os.path.splitext(filename)[0]] = pd.read_csv(os.path.join(path,filename))
        elif os.path.splitext(filename)[-1] == '.dat':
            if os.path.splitext(filename)[0] == 'ratings':
                columns = ['userId', 'movieId', 'rating', 'timestamp']
            else:
                columns = ['movieId', 'title', 'genres']
            data = pd.read_csv(os.path.join(path,filename), sep='::', names=columns, engine='python')
            files[os.path.splitext(filename)[0]] = data
    return files['ratings'], files['movies']

In [0]:
archive_url = f'http://files.grouplens.org/datasets/movielens/ml-latest-small.zip'
download_path = os.path.join(os.curdir, 'Data')

In [13]:
try_download(archive_url, download_path)

The archive is extracted into folder: ./Data

In [0]:
ratings, movies = read_data(os.path.join(download_path, 'ml-latest-small'))

In [15]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [17]:
ratings = pd.merge(ratings, movies, on="movieId")
ratings.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 6 columns]

In [0]:
ratings = ratings.drop(["timestamp", "genres"], axis=1)

In [19]:
ratings.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [0]:
user_ratings = ratings.pivot_table(index=["userId"], columns=["title"], values="rating")

In [21]:
user_ratings.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN

[5 rows x 9719 columns]

In [0]:
corr_matrix = user_ratings.corr(method="pearson", min_periods=10)

In [23]:
corr_matrix.head()

title                                    '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
title                                                ...
'71 (2014)                                      NaN  ...                                        NaN
'Hellboy': The Seeds of Creation (2004)         NaN  ...                                        NaN
'Round Midnight (1986)                          NaN  ...                                        NaN
'Salem's Lot (2004)                             NaN  ...                                        NaN
'Til There Was You (1997)                       NaN  ...                                        NaN

[5 rows x 9719 columns]

In [24]:
ratings[ratings.title.str.contains("Star Wars")].title.unique()

array(['Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Star Wars: Episode I - The Phantom Menace (1999)',
       'Star Wars: Episode II - Attack of the Clones (2002)',
       'Star Wars: Episode III - Revenge of the Sith (2005)',
       'Star Wars: Episode VII - The Force Awakens (2015)',
       'Rogue One: A Star Wars Story (2016)',
       'Star Wars: The Clone Wars (2008)',
       'Star Wars: The Last Jedi (2017)',
       'Solo: A Star Wars Story (2018)',
       'The Star Wars Holiday Special (1978)',
       "Empire of Dreams: The Story of the 'Star Wars' Trilogy (2004)"],
      dtype=object)

In [25]:
selected_user = pd.Series(data= [5, 1, 5], index=["Star Wars: Episode V - The Empire Strikes Back (1980)",
                                                  "Gone with the Wind (1939)",
                                                  "Star Wars: Episode VI - Return of the Jedi (1983)"])
selected_user.head()

Star Wars: Episode V - The Empire Strikes Back (1980)    5
Gone with the Wind (1939)                                1
Star Wars: Episode VI - Return of the Jedi (1983)        5
dtype: int64

In [26]:
selected_user.index[0]

'Star Wars: Episode V - The Empire Strikes Back (1980)'

In [27]:
similar_candidates = pd.Series()
for i in range(0, len(selected_user.index)):
    print("Adding Similarities for " + selected_user.index[i])
    sims = corr_matrix[selected_user.index[i]].dropna()
    sims = sims.map(lambda x: x * selected_user[i])
    similar_candidates = similar_candidates.append(sims)

similar_candidates.sort_values(inplace=True, ascending=False)
print(similar_candidates.head(10))

Adding Similarities for Star Wars: Episode V - The Empire Strikes Back (1980)
Adding Similarities for Gone with the Wind (1939)
Adding Similarities for Star Wars: Episode VI - Return of the Jedi (1983)
Star Wars: Episode V - The Empire Strikes Back (1980)    5.000000
Star Wars: Episode VI - Return of the Jedi (1983)        5.000000
Invasion of the Body Snatchers (1956)                    4.433601
American Hustle (2013)                                   4.424504
Last King of Scotland, The (2006)                        4.367458
Hostel (2005)                                            4.325206
Muppets Take Manhattan, The (1984)                       4.103641
EuroTrip (2004)                                          4.076858
The Hunger Games: Mockingjay - Part 2 (2015)             3.981896
Flintstones in Viva Rock Vegas, The (2000)               3.978533
dtype: float64

In [0]:
similar_candidates = similar_candidates.groupby(similar_candidates.index).sum()

In [29]:
similar_candidates = similar_candidates.sort_values(ascending=False)
similar_candidates.head(10)

Star Wars: Episode VI - Return of the Jedi (1983)            8.306674
Star Wars: Episode V - The Empire Strikes Back (1980)        8.274492
Flintstones in Viva Rock Vegas, The (2000)                   7.936867
Star Wars: Episode IV - A New Hope (1977)                    7.905633
Porco Rosso (Crimson Pig) (Kurenai no buta) (1992)           7.114235
Jewel of the Nile, The (1985)                                7.091009
Mr. Smith Goes to Washington (1939)                          6.985826
Innerspace (1987)                                            6.985163
Laputa: Castle in the Sky (Tenkû no shiro Rapyuta) (1986)    6.916039
Michael Clayton (2007)                                       6.735995
dtype: float64